.ftco-navbar-light {
    background: #121618 !important;
    z-index: 3;
  }
  .bg-dark {
    background-color: #343a40 !important;
  }
    @media (min-width: 992px){
  .navbar-expand-lg {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }}
  .navbar {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: .5rem 1rem;
  }

  .call-btn1 {
    color: #000 !important;
    background: #fac564;
    margin-left: 20px;
    border-radius: 6px 6px 6px 6px;
    -moz-border-radius: 6px 6px 6px 6px;
    -webkit-border-radius: 6px 6px 6px 6px;
    border: 0 solid #000;
    padding: 5px 20px 5px 20px !important;
    font-size: 16px !important;
  }

  .ftco-navbar-light .navbar-nav > .nav-item.active > a {
    color: #fac564;
  }
  .ftco-navbar-light {
    background: #121618 !important;
    z-index: 3;
  }

  .ftco-services .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    content: '';
    background: #fac564;
    opacity: 0;
  }

  .MultiCarousel {
    overflow: hidden;
    padding: 15px;
    width: 100%;
    position: relative;
  }

  .ftco-section {
    padding: 1em 0;
    position: relative;
  }
  .ftco-services {
    background: url(../images/bg3.png) repeat;
    color: #5c3d03;
  }

  .MultiCarousel .MultiCarousel-inner {
    transition: 1s ease all;
    float: left;
  }

  .hex2 img {
    width: 100%;
    height: 100%;
  }
  .hexa img {
    position: relative;
    top: 0;
    left: 0;
    border: 0;
  }
  img {
    vertical-align: middle;
    border-style: none;
  }
  .MultiCarousel .MultiCarousel-inner .item {
    float: left;
  }

  .ftco-appointment {
    width: 100%;
    position: relative;
    background: #000;
  }


.align-items-center {
    -webkit-box-align: center !important;
    -ms-flex-align: center !important;
    align-items: center !important;
  }
    @media (min-width: 768px){
  .d-md-flex {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }}
  .no-gutters {
    margin-right: 0;
    margin-left: 0;
  }

  .no-gutters > .col, .no-gutters > [class*="col-"] {
    padding-right: 0;
    padding-left: 0;
  }
  .d-flex {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    margin-right: 0;
    padding-right: 0;
  }
    @media (min-width: 768px){
  .col-md-5 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 41.66667%;
    flex: 0 0 41.66667%;
    max-width: 41.66667%;
  }}

  .ftco-animate {
    opacity: 1;
    /* visibility: hidden; */
    margin-bottom: 15px;
  }
    @media (min-width: 768px){
  .appointment {
    padding: 1% 10% 1% 5% !important;
  }}

  .appointment h3 {
    color: #fff;
  }
  .mb-3, .my-3 {
    margin-bottom: 1rem !important;
  }
  .h1, .h2, .h3, .h4, .h5, h1, h2, h3, h4, h5 {
    line-height: 1.4;
    color: #fff;
    font-weight: 400;
    font-family: "Josefin Sans", Arial, sans-serif;
  }
  .h3, h3 {
    font-size: 1.75rem;
  }
  .h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    margin-bottom: .5rem;
    font-family: inherit;
    font-weight: 500;
    line-height: 1.2;
    color: inherit;
  }
  h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: .5rem;
  }

  .row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
  }

  .j-pro label {
    display: block;
    color: inherit;
    font-weight: 400;
    text-align: left;
    margin-bottom: 0;
    color: white;
  }

  .j-pro .j-footer {
    background-color: inherit;
    display: block;
    padding: 10px 25px;
  }

  .btn:not(:disabled):not(.disabled) {
    cursor: pointer;
  }
  .btn.btn-primary {
    background: #fac564;
    border: 1px solid #fac564;
    color: #000;
  }

  .btn {
    cursor: pointer;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    border-radius: 0;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    font-size: 13px;
  }

  .blog-img, .hero-wrap, .img, .user-img {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
  }
  .ftco-footer {
    font-size: 16px;
    background: #101315;

  }
  .ftco-section {
    padding: 1em 0;
    position: relative;
  }
  article, aside, dialog, figcaption, figure, footer, header, hgroup, main, nav, section {
    display: block;
  }

  .ftco-footer .ftco-footer-widget h2 {
    border-bottom: solid 1px #fac564;
    padding-bottom: 5px;
    display: inline-block;
    padding-right: 35px;
    font-weight: 400;
    color: #fff;
    margin-bottom: 20px;
    font-size: 16px;
    font-weight: 400;
    position: relative;
    text-transform: uppercase;
    letter-spacing: 1px;
  }

  .list-unstyled {
    padding-left: 0;
    list-style: none;
  }
  dl, ol, ul {
    margin-top: 0;
    margin-bottom: 1rem;
  }

  .list-unstyled {
    list-style: none;
    color: white;
  }

  .ftco-footer a {
    color: rgba(255, 255, 255, .7);
  }

  .ftco-counter{
    background-image: url(../images/bg2.jpg);
    padding: 2em 0;
  }

  #section-counter .overlay {
    position: absolute;
left: 0;
bottom: 0;
right: 0;
    background: #333;
    opacity: .8;
    height: 575px !important;
    top: 625px;
  }

  .MultiCarousel .MultiCarousel-inner .item>div {
    text-align: center;
    margin: 10px;
    color: #000;
}

.hexa {
    transform: rotate(120deg);
    display: table-cell;
}
.hexa {
    width: 290px;
    height: 180px;
}
.hexa, .hexa div {
    margin: 0 auto;
    transform-origin: 50% 50%;
    overflow: hidden;
}

.hex2 img {
    width: 100%;
    height: 100%;
}

.hexa img {
    position: relative;
    top: 0;
    left: 0;
    border: 0;
}
img {
    vertical-align: middle;
    border-style: none;
}
.hex1 {
    transform: rotate(-60deg);
}
.hex2 {
    transform: rotate(-60deg);
}

.ftco-section2 {
    padding: 3em 0;
    position: relative;
    background: url(../images/bg1.jpg);
}


.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}