body {
  margin: 0;

  font-family: Poppins, Arial, sans-serif;
font-size: 15px;
line-height: 1.8;
font-weight: 300;
color: #ddd;
}



::-webkit-scrollbar{
  display: none;
}

*{
  overflow-x: hidden;
  scrollbar-width: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
